{{#each records as |record|}}
	<td data-title={{record.label}}>
		{{#if (eq record.id 'Action')}}
			{{yield}}
		{{else}}
			{{#if record.isBoolean}}
				{{input type="checkbox" class="mdl-checkbox__input" checked=record.content disabled=true}}
			{{else}}
				{{{record.content}}}
			{{/if}}
		{{/if}}
	</td>
{{/each}}